In [1]:
Load pac

In [ ]:
import pandas as pd
import numpy as np

list datasets

In [11]:
life_expectancy = 'Datasets/lifeexpectancy_by_counties.csv'
health_indicators = 'Datasets/ScottishHealthSurveyDataByLocalAuthorities.csv'
freq_use_green = 'Datasets/SHS_Frequency_of_use_of_nearest_green_or_blue_space.csv'
statisfaction_facilities = 'Datasets/SHS_Satisfaction_with_local_authority_sports_and_leisure_facilities.csv'
use_of_facilities ='Datasets/SHS_Use_of_local_authority_sports_and_leisure_facilities.csv'
walking_distance ='Datasets/SHS_Walking_distance_to_nearest_green_or_blue_space.csv'

read datasets

In [12]:
life_expectancy_df = pd.read_csv(life_expectancy)
health_indicators_df = pd.read_csv(life_expectancy)
freq_use_green_df = pd.read_csv(freq_use_green)
statisfaction_facilities_df = pd.read_csv(statisfaction_facilities)
use_of_facilities_df = pd.read_csv(use_of_facilities)
walking_distance_df = pd.read_csv(walking_distance)

## life_expectancy data summary

In [13]:
# Display the structure of the data
print("Data Structure:")
print(life_expectancy_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(life_expectancy_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(life_expectancy_df[life_expectancy_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(life_expectancy_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(life_expectancy_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335160 entries, 0 to 335159
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Period                     335160 non-null  object
 1   Country                    335160 non-null  object
 2   Area type                  335160 non-null  object
 3   Area code                  335160 non-null  object
 4   Area name                  335160 non-null  object
 5   Sex                        335160 non-null  object
 6   Sex code                   335160 non-null  int64
 7   Age band                   335160 non-null  int64
 8   Age group                  335160 non-null  object
 9   Life expectancy            335160 non-null  float64
 10  Lower confidence interval  335160 non-null  float64
 11  Upper confidence interval  335160 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 30.7+ MB
None

Empty Fields:
Period                       0
Country                      0
Area type                    0
Area code                    0
Area name                    0
Sex                          0
Sex code                     0
Age band                     0
Age group                    0
Life expectancy              0
Lower confidence interval    0
Upper confidence interval    0
dtype: int64

Errors:
Empty DataFrame
Columns: [Period, Country, Area type, Area code, Area name, Sex, Sex code, Age band, Age group, Life expectancy, Lower confidence interval, Upper confidence interval]
Index: []

First few rows of the data:
         Period  Country    Area type  Area code   Area name   Sex  Sex code  \
0  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
1  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
2  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
3  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
4  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1

   Age band Age group  Life expectancy  Lower confidence interval  \
0         1        <1            73.42                      72.68
1         2  01 to 04            72.90                      72.21
2         3  05 to 09            68.94                      68.26
3         4  10 to 14            63.97                      63.30
4         5  15 to 19            59.00                      58.33

   Upper confidence interval
0                      74.16
1                      73.58
2                      69.61
3                      64.65
4                      59.67

Summary Statistics:
            Sex code      Age band  Life expectancy  \
count  335160.000000  335160.00000    335160.000000
mean        1.500000      10.50000        40.746743
std         0.500001       5.76629        25.264731
min         1.000000       1.00000         2.170000
25%         1.000000       5.75000        17.230000
50%         1.500000      10.50000        39.220000
75%         2.000000      15.25000        63.390000
max         2.000000      20.00000        87.000000

       Lower confidence interval  Upper confidence interval
count              335160.000000              335160.000000
mean                   40.327260                  41.166235
std                    25.207963                  25.322546
min                     1.590000                   2.720000
25%                    16.870000                  17.560000
50%                    38.790000                  39.640000
75%                    62.920000                  63.870000
max                    86.320000                  87.670000

## health_indicators data summary

In [14]:
# Display the structure of the data
print("Data Structure:")
print(health_indicators_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(health_indicators_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(health_indicators_df[health_indicators_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(health_indicators_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(health_indicators_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335160 entries, 0 to 335159
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Period                     335160 non-null  object
 1   Country                    335160 non-null  object
 2   Area type                  335160 non-null  object
 3   Area code                  335160 non-null  object
 4   Area name                  335160 non-null  object
 5   Sex                        335160 non-null  object
 6   Sex code                   335160 non-null  int64
 7   Age band                   335160 non-null  int64
 8   Age group                  335160 non-null  object
 9   Life expectancy            335160 non-null  float64
 10  Lower confidence interval  335160 non-null  float64
 11  Upper confidence interval  335160 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 30.7+ MB
None

Empty Fields:
Period                       0
Country                      0
Area type                    0
Area code                    0
Area name                    0
Sex                          0
Sex code                     0
Age band                     0
Age group                    0
Life expectancy              0
Lower confidence interval    0
Upper confidence interval    0
dtype: int64

Errors:
Empty DataFrame
Columns: [Period, Country, Area type, Area code, Area name, Sex, Sex code, Age band, Age group, Life expectancy, Lower confidence interval, Upper confidence interval]
Index: []

First few rows of the data:
         Period  Country    Area type  Area code   Area name   Sex  Sex code  \
0  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
1  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
2  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
3  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
4  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1

   Age band Age group  Life expectancy  Lower confidence interval  \
0         1        <1            73.42                      72.68
1         2  01 to 04            72.90                      72.21
2         3  05 to 09            68.94                      68.26
3         4  10 to 14            63.97                      63.30
4         5  15 to 19            59.00                      58.33

   Upper confidence interval
0                      74.16
1                      73.58
2                      69.61
3                      64.65
4                      59.67

Summary Statistics:
            Sex code      Age band  Life expectancy  \
count  335160.000000  335160.00000    335160.000000
mean        1.500000      10.50000        40.746743
std         0.500001       5.76629        25.264731
min         1.000000       1.00000         2.170000
25%         1.000000       5.75000        17.230000
50%         1.500000      10.50000        39.220000
75%         2.000000      15.25000        63.390000
max         2.000000      20.00000        87.000000

       Lower confidence interval  Upper confidence interval
count              335160.000000              335160.000000
mean                   40.327260                  41.166235
std                    25.207963                  25.322546
min                     1.590000                   2.720000
25%                    16.870000                  17.560000
50%                    38.790000                  39.640000
75%                    62.920000                  63.870000
max                    86.320000                  87.670000

## freq_use_green data summary

In [15]:
# Display the structure of the data
print("Data Structure:")
print(freq_use_green_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(freq_use_green_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(freq_use_green_df[freq_use_green_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(freq_use_green_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(freq_use_green_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  264 non-null    int64
 1   Council     264 non-null    object
 2   Unnamed: 2  264 non-null    object
 3   2013        264 non-null    object
 4   2014        264 non-null    object
 5   2015        264 non-null    object
 6   2016        264 non-null    object
 7   2017        264 non-null    object
 8   2019        264 non-null    object
 9   2023        264 non-null    object
dtypes: int64(1), object(9)
memory usage: 20.8+ KB
None

Empty Fields:
Unnamed: 0    0
Council       0
Unnamed: 2    0
2013          0
2014          0
2015          0
2016          0
2017          0
2019          0
2023          0
dtype: int64

Errors:
Empty DataFrame
Columns: [Unnamed: 0, Council, Unnamed: 2, 2013, 2014, 2015, 2016, 2017, 2019, 2023]
Index: []

First few rows of the data:
   Unnamed: 0        Council                        Unnamed: 2  2013  2014  \
0           1  Aberdeen City  Every day / Several times a week  29.8    35
1           2  Aberdeen City                       Once a week  14.1  10.6
2           3  Aberdeen City                      Once a month  17.6    18
3           4  Aberdeen City                        Less often  15.8   9.2
4           5  Aberdeen City                        Not at all  22.8  26.8

   2015  2016  2017  2019  2023
0  33.1  33.6  35.9  31.9  35.6
1  12.5  12.8  11.7  17.2  15.9
2    20  22.4    16  18.9  17.5
3  10.2  11.2  14.3  12.2   8.7
4  24.2  19.4  22.1  19.4  22.4

Summary Statistics:
       Unnamed: 0
count  264.000000
mean   132.500000
std     76.354437
min      1.000000
25%     66.750000
50%    132.500000
75%    198.250000
max    264.000000

## statisfaction_facilities data summary

In [16]:
# Display the structure of the data
print("Data Structure:")
print(statisfaction_facilities_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(statisfaction_facilities_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(statisfaction_facilities_df[statisfaction_facilities_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(statisfaction_facilities_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(statisfaction_facilities_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    198 non-null    int64
 1   Council       198 non-null    object
 2   Satisfaction  198 non-null    object
 3   2007/2008     198 non-null    float64
 4   2009/2010     198 non-null    float64
 5   2011          198 non-null    object
 6   2012          198 non-null    float64
 7   2013          198 non-null    float64
 8   2014          198 non-null    float64
 9   2015          198 non-null    float64
 10  2016          198 non-null    float64
 11  2017          198 non-null    float64
 12  2018          198 non-null    float64
 13  2019          198 non-null    float64
 14  2022          198 non-null    float64
 15  2023          198 non-null    float64
dtypes: float64(12), int64(1), object(3)
memory usage: 24.9+ KB
None

Empty Fields:
Unnamed: 0      0
Council         0
Satisfaction    0
2007/2008       0
2009/2010       0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2022            0
2023            0
dtype: int64

Errors:
Empty DataFrame
Columns: [Unnamed: 0, Council, Satisfaction, 2007/2008, 2009/2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022, 2023]
Index: []

First few rows of the data:
   Unnamed: 0        Council                        Satisfaction  2007/2008  \
0           1  Aberdeen City               Very/fairly satisfied       42.9
1           2  Aberdeen City  Neither satisfied nor dissatisfied       11.0
2           3  Aberdeen City            Very/fairly dissatisfied       11.4
3           4  Aberdeen City                          No opinion       34.6
4           5  Aberdeen City                                 All      100.0

   2009/2010  2011   2012   2013   2014   2015   2016   2017   2018   2019  \
0       39.5  43.5   44.8   50.9   53.9   46.6   51.9   53.8   52.3   34.2
1       13.0  14.1   11.7   16.5   18.4   13.5   12.4   20.2   14.0    8.0
2       17.9  12.4    6.7    6.3    6.2    5.6    6.4    3.1    5.8    6.4
3       29.6  30.1   36.8   26.3   21.5   34.4   29.3   22.9   27.9   51.4
4      100.0   100  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0

    2022   2023
0   35.6   26.9
1   10.9   18.9
2    6.2    3.0
3   47.3   51.2
4  100.0  100.0

Summary Statistics:
       Unnamed: 0     2007/2008     2009/2010         2012         2013  \
count  198.000000    198.000000    198.000000   198.000000   198.000000
mean    99.500000    229.998990    222.624242   133.333838   133.582828
std     57.301832   1398.555601   1345.507396   707.133844   709.408903
min      1.000000      0.900000      0.100000     0.900000     1.700000
25%     50.250000     11.575000      9.275000     7.875000     9.150000
50%     99.500000     38.500000     40.050000    41.350000    43.350000
75%    148.750000    100.000000    100.000000   100.000000   100.000000
max    198.000000  19470.000000  18730.000000  9890.000000  9920.000000

              2014         2015         2016         2017         2018  \
count   198.000000   198.000000   198.000000   198.000000   198.000000
mean    132.321717   128.482828   130.858586   132.525253   131.514141
std     700.947533   672.278887   688.903126   701.083134   693.965147
min       0.600000     1.400000     1.000000     0.800000     0.500000
25%      10.050000    11.825000    11.150000    13.775000    13.575000
50%      42.750000    41.550000    41.850000    39.800000    40.900000
75%     100.000000   100.000000   100.000000   100.000000   100.000000
max    9800.000000  9410.000000  9640.000000  9810.000000  9700.000000

              2019         2022         2023
count   198.000000   198.000000   198.000000
mean    132.171717   130.705556   131.964646
std     699.559783   690.516910   697.644365
min       1.500000     0.200000     1.800000
25%      12.225000    14.650000    16.725000
50%      41.300000    38.600000    39.550000
75%     100.000000   100.000000   100.000000
max    9780.000000  9640.000000  9750.000000

## use_of_facilities data summary

In [17]:
# Display the structure of the data
print("Data Structure:")
print(use_of_facilities_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(use_of_facilities_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(use_of_facilities_df[use_of_facilities_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(use_of_facilities_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(use_of_facilities_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  198 non-null    int64
 1   Council     198 non-null    object
 2   serv2a      198 non-null    object
 3   2007/2008   198 non-null    object
 4   2009/2010   198 non-null    object
 5   2011        198 non-null    object
 6   2012        198 non-null    object
 7   2013        198 non-null    object
 8   2014        198 non-null    object
 9   2015        198 non-null    object
 10  2016        198 non-null    object
 11  2017        198 non-null    object
 12  2018        198 non-null    object
 13  2019        198 non-null    object
 14  2022        198 non-null    object
 15  2023        198 non-null    object
dtypes: int64(1), object(15)
memory usage: 24.9+ KB
None

Empty Fields:
Unnamed: 0    0
Council       0
serv2a        0
2007/2008     0
2009/2010     0
2011          0
2012          0
2013          0
2014          0
2015          0
2016          0
2017          0
2018          0
2019          0
2022          0
2023          0
dtype: int64

Errors:
Empty DataFrame
Columns: [Unnamed: 0, Council, serv2a, 2007/2008, 2009/2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022, 2023]
Index: []

First few rows of the data:
   Unnamed: 0        Council                      serv2a 2007/2008 2009/2010  \
0           1  Aberdeen City  Have used in the past year      40.6      38.4
1           2  Aberdeen City   Not used in the past year      19.1        24
2           3  Aberdeen City                  Never used      39.9      37.6
3           4  Aberdeen City                  Don't know       0.3         -
4           5  Aberdeen City                         All       100       100

   2011  2012  2013  2014  2015  2016  2017  2018  2019  2022  2023
0  37.9  28.3  36.8  41.9  42.9  36.4  36.5  36.5  22.2  26.3  19.9
1  19.8  21.1  24.9  24.7  13.8  18.5  21.6  17.1   9.3  17.2  23.3
2  41.8  50.6  37.9  32.3  42.6  45.1  41.3  45.6  66.9  55.4  54.1
3   0.5     -   0.4   1.1   0.6     -   0.6   0.8   1.7   1.2   2.7
4   100   100   100   100   100   100   100   100   100   100   100

Summary Statistics:
       Unnamed: 0
count  198.000000
mean    99.500000
std     57.301832
min      1.000000
25%     50.250000
50%     99.500000
75%    148.750000
max    198.000000

## walking_distance data summary

In [18]:
# Display the structure of the data
print("Data Structure:")
print(walking_distance_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(walking_distance_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(walking_distance_df[walking_distance_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(walking_distance_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(walking_distance_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        198 non-null    int64
 1   Council           198 non-null    object
 2   Walking distance  198 non-null    object
 3   2013              198 non-null    object
 4   2014              198 non-null    object
 5   2015              198 non-null    object
 6   2016              198 non-null    object
 7   2017              198 non-null    object
 8   2018              198 non-null    object
 9   2019              198 non-null    object
 10  2022              198 non-null    object
 11  2023              198 non-null    object
dtypes: int64(1), object(11)
memory usage: 18.7+ KB
None

Empty Fields:
Unnamed: 0          0
Council             0
Walking distance    0
2013                0
2014                0
2015                0
2016                0
2017                0
2018                0
2019                0
2022                0
2023                0
dtype: int64

Errors:
Empty DataFrame
Columns: [Unnamed: 0, Council, Walking distance, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022, 2023]
Index: []

First few rows of the data:
   Unnamed: 0        Council        Walking distance  2013  2014  2015  2016  \
0           1  Aberdeen City            In 5 minutes  64.4  74.5  59.3  61.5
1           2  Aberdeen City         6 to 10 minutes  15.8  14.9    25  17.7
2           3  Aberdeen City  11 minute walk or more  19.1     9  15.2  19.6
3           4  Aberdeen City              Don't know   0.7   1.6   0.5   1.1
4           5  Aberdeen City                     All   100   100   100   100

   2017  2018  2019  2022  2023
0  56.7  57.9  52.1  50.8  59.4
1  19.6  23.7  20.6  22.3  25.5
2  20.7  16.8  25.8  25.8  12.6
3   2.9   1.5   1.5   1.1   2.5
4   100   100   100   100   100

Summary Statistics:
       Unnamed: 0
count  198.000000
mean    99.500000
std     57.301832
min      1.000000
25%     50.250000
50%     99.500000
75%    148.750000
max    198.000000