Load packages

In [56]:
import pandas as pd
import numpy as np

list datasets

In [100]:
life_expectancy = 'Datasets/lifeexpectancy_by_counties.csv'
health_indicators = 'Datasets/ScottishHealthSurveyDataByLocalAuthorities.csv'
freq_use_green = 'Datasets/SHS_Frequency_of_use_of_nearest_green_or_blue_space.csv'
statisfaction_distance = 'Datasets/SHS_Satisfaction_with_nearest_green_or_blue_space.csv'
statisfaction_facilities = 'Datasets/SHS_Satisfaction_with_local_authority_sports_and_leisure_facilities.csv'
use_of_facilities ='Datasets/SHS_Use_of_local_authority_sports_and_leisure_facilities.csv'
walking_distance ='Datasets/SHS_Walking_distance_to_nearest_green_or_blue_space.csv'

read datasets

In [101]:
life_expectancy_df = pd.read_csv(life_expectancy)
health_indicators_df = pd.read_csv(life_expectancy)
freq_use_green_df = pd.read_csv(freq_use_green)
statisfaction_distance_df = pd.read_csv(statisfaction_distance)
statisfaction_facilities_df = pd.read_csv(statisfaction_facilities)
use_of_facilities_df = pd.read_csv(use_of_facilities)
walking_distance_df = pd.read_csv(walking_distance)

## life_expectancy data summary

In [102]:
# Display the structure of the data
print("Data Structure:")
print(life_expectancy_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(life_expectancy_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(life_expectancy_df[life_expectancy_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(life_expectancy_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(life_expectancy_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335160 entries, 0 to 335159
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Period                     335160 non-null  object
 1   Country                    335160 non-null  object
 2   Area type                  335160 non-null  object
 3   Area code                  335160 non-null  object
 4   Area name                  335160 non-null  object
 5   Sex                        335160 non-null  object
 6   Sex code                   335160 non-null  int64
 7   Age band                   335160 non-null  int64
 8   Age group                  335160 non-null  object
 9   Life expectancy            335160 non-null  float64
 10  Lower confidence interval  335160 non-null  float64
 11  Upper confidence interval  335160 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 30.7+ MB
None

Empty Fields:
Period                       0
Country                      0
Area type                    0
Area code                    0
Area name                    0
Sex                          0
Sex code                     0
Age band                     0
Age group                    0
Life expectancy              0
Lower confidence interval    0
Upper confidence interval    0
dtype: int64

Errors:
Empty DataFrame
Columns: [Period, Country, Area type, Area code, Area name, Sex, Sex code, Age band, Age group, Life expectancy, Lower confidence interval, Upper confidence interval]
Index: []

First few rows of the data:
         Period  Country    Area type  Area code   Area name   Sex  Sex code  \
0  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
1  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
2  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
3  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
4  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1

   Age band Age group  Life expectancy  Lower confidence interval  \
0         1        <1            73.42                      72.68
1         2  01 to 04            72.90                      72.21
2         3  05 to 09            68.94                      68.26
3         4  10 to 14            63.97                      63.30
4         5  15 to 19            59.00                      58.33

   Upper confidence interval
0                      74.16
1                      73.58
2                      69.61
3                      64.65
4                      59.67

Summary Statistics:
            Sex code      Age band  Life expectancy  \
count  335160.000000  335160.00000    335160.000000
mean        1.500000      10.50000        40.746743
std         0.500001       5.76629        25.264731
min         1.000000       1.00000         2.170000
25%         1.000000       5.75000        17.230000
50%         1.500000      10.50000        39.220000
75%         2.000000      15.25000        63.390000
max         2.000000      20.00000        87.000000

       Lower confidence interval  Upper confidence interval
count              335160.000000              335160.000000
mean                   40.327260                  41.166235
std                    25.207963                  25.322546
min                     1.590000                   2.720000
25%                    16.870000                  17.560000
50%                    38.790000                  39.640000
75%                    62.920000                  63.870000
max                    86.320000                  87.670000

correct life expectency Period column, take the last 4 digits (end year) and put into a new column

In [135]:
life_expectancy_df['Year'] = life_expectancy_df['Period'].astype(str).str[-4:].astype(int)

## health_indicators data summary

In [104]:
# Display the structure of the data
print("Data Structure:")
print(health_indicators_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(health_indicators_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(health_indicators_df[health_indicators_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(health_indicators_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(health_indicators_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335160 entries, 0 to 335159
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Period                     335160 non-null  object
 1   Country                    335160 non-null  object
 2   Area type                  335160 non-null  object
 3   Area code                  335160 non-null  object
 4   Area name                  335160 non-null  object
 5   Sex                        335160 non-null  object
 6   Sex code                   335160 non-null  int64
 7   Age band                   335160 non-null  int64
 8   Age group                  335160 non-null  object
 9   Life expectancy            335160 non-null  float64
 10  Lower confidence interval  335160 non-null  float64
 11  Upper confidence interval  335160 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 30.7+ MB
None

Empty Fields:
Period                       0
Country                      0
Area type                    0
Area code                    0
Area name                    0
Sex                          0
Sex code                     0
Age band                     0
Age group                    0
Life expectancy              0
Lower confidence interval    0
Upper confidence interval    0
dtype: int64

Errors:
Empty DataFrame
Columns: [Period, Country, Area type, Area code, Area name, Sex, Sex code, Age band, Age group, Life expectancy, Lower confidence interval, Upper confidence interval]
Index: []

First few rows of the data:
         Period  Country    Area type  Area code   Area name   Sex  Sex code  \
0  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
1  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
2  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
3  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1
4  2001 to 2003  England  Local Areas  E06000001  Hartlepool  Male         1

   Age band Age group  Life expectancy  Lower confidence interval  \
0         1        <1            73.42                      72.68
1         2  01 to 04            72.90                      72.21
2         3  05 to 09            68.94                      68.26
3         4  10 to 14            63.97                      63.30
4         5  15 to 19            59.00                      58.33

   Upper confidence interval
0                      74.16
1                      73.58
2                      69.61
3                      64.65
4                      59.67

Summary Statistics:
            Sex code      Age band  Life expectancy  \
count  335160.000000  335160.00000    335160.000000
mean        1.500000      10.50000        40.746743
std         0.500001       5.76629        25.264731
min         1.000000       1.00000         2.170000
25%         1.000000       5.75000        17.230000
50%         1.500000      10.50000        39.220000
75%         2.000000      15.25000        63.390000
max         2.000000      20.00000        87.000000

       Lower confidence interval  Upper confidence interval
count              335160.000000              335160.000000
mean                   40.327260                  41.166235
std                    25.207963                  25.322546
min                     1.590000                   2.720000
25%                    16.870000                  17.560000
50%                    38.790000                  39.640000
75%                    62.920000                  63.870000
max                    86.320000                  87.670000

correct health_indicators Period column, take the last 4 digits (end year) and put into a new column

In [136]:
health_indicators_df['Year'] = health_indicators_df['Period'].astype(str).str[-4:].astype(int)

## freq_use_green data summary

In [106]:
# Display the structure of the data
print("Data Structure:")
print(freq_use_green_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(freq_use_green_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(freq_use_green_df[freq_use_green_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(freq_use_green_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(freq_use_green_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Council    264 non-null    object
 1   Frequency  264 non-null    object
 2   2013       264 non-null    object
 3   2014       264 non-null    object
 4   2015       264 non-null    object
 5   2016       264 non-null    object
 6   2017       264 non-null    object
 7   2019       264 non-null    object
 8   2023       264 non-null    object
dtypes: object(9)
memory usage: 18.7+ KB
None

Empty Fields:
Council      0
Frequency    0
2013         0
2014         0
2015         0
2016         0
2017         0
2019         0
2023         0
dtype: int64

Errors:
Empty DataFrame
Columns: [Council, Frequency, 2013, 2014, 2015, 2016, 2017, 2019, 2023]
Index: []

First few rows of the data:
         Council                         Frequency  2013  2014  2015  2016  \
0  Aberdeen City  Every day / Several times a week  29.8    35  33.1  33.6
1  Aberdeen City                       Once a week  14.1  10.6  12.5  12.8
2  Aberdeen City                      Once a month  17.6    18    20  22.4
3  Aberdeen City                        Less often  15.8   9.2  10.2  11.2
4  Aberdeen City                        Not at all  22.8  26.8  24.2  19.4

   2017  2019  2023
0  35.9  31.9  35.6
1  11.7  17.2  15.9
2    16  18.9  17.5
3  14.3  12.2   8.7
4  22.1  19.4  22.4

Summary Statistics:
              Council                         Frequency 2013 2014 2015 2016  \
count             264                               264  264  264  264  264
unique             33                                 8  152  153  151  158
top     Aberdeen City  Every day / Several times a week  100  100  100  100
freq                8                                33   33   33   33   33

       2017 2019 2023
count   264  264  264
unique  154  151  146
top     100  100  100
freq     33   33   33

## statisfaction_distance data summary (distance from nearest green space)

In [107]:
# Display the structure of the data
print("Data Structure:")
print(statisfaction_distance_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(statisfaction_distance_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(statisfaction_distance_df[statisfaction_distance_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(statisfaction_distance_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(statisfaction_distance_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Council       198 non-null    object
 1   Satisfaction  198 non-null    object
 2   2013          198 non-null    float64
 3   2014          198 non-null    float64
 4   2015          198 non-null    float64
 5   2016          198 non-null    float64
 6   2017          198 non-null    float64
 7   2019          198 non-null    float64
 8   2023          198 non-null    float64
dtypes: float64(7), object(2)
memory usage: 14.0+ KB
None

Empty Fields:
Council         0
Satisfaction    0
2013            0
2014            0
2015            0
2016            0
2017            0
2019            0
2023            0
dtype: int64

Errors:
Empty DataFrame
Columns: [Council, Satisfaction, 2013, 2014, 2015, 2016, 2017, 2019, 2023]
Index: []

First few rows of the data:
         Council                           Satisfaction   2013   2014   2015  \
0  Aberdeen City        Very satisfied/Fairly satisfied   75.6   67.1   73.3
1  Aberdeen City                                Neither   10.4   14.2    9.5
2  Aberdeen City  Very dissatisfied/Fairly dissatisfied    9.5   10.0   10.4
3  Aberdeen City                             No opinion    4.5    8.7    6.7
4  Aberdeen City                                    All  100.0  100.0  100.0

    2016   2017   2019   2023
0   78.1   80.0   72.0   64.1
1    8.4    7.3    9.9   19.5
2    9.1    6.7    6.0    6.2
3    4.4    6.0   12.0   10.2
4  100.0  100.0  100.0  100.0

Summary Statistics:
              2013         2014         2015         2016         2017  \
count   198.000000   198.000000   198.000000   198.000000   198.000000
mean    131.769697   130.860101   127.373737   129.343939   130.909091
std     698.092334   690.397099   664.609518   678.384376   690.521598
min       0.700000     0.900000     1.100000     0.500000     1.100000
25%       6.700000     7.000000     7.350000     7.000000     7.425000
50%      40.300000    41.600000    41.750000    43.450000    45.050000
75%     100.000000   100.000000   100.000000   100.000000   100.000000
max    9760.000000  9650.000000  9300.000000  9490.000000  9660.000000

              2019         2023
count   198.000000   198.000000
mean    130.254040   130.052020
std     685.486282   684.340116
min       0.600000     0.800000
25%       8.600000     7.300000
50%      40.250000    41.800000
75%     100.000000   100.000000
max    9580.000000  9560.000000

## statisfaction_facilities data summary

In [108]:
# Display the structure of the data
print("Data Structure:")
print(statisfaction_facilities_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(statisfaction_facilities_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(statisfaction_facilities_df[statisfaction_facilities_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(statisfaction_facilities_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(statisfaction_facilities_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Council       198 non-null    object
 1   Satisfaction  198 non-null    object
 2   2009          198 non-null    float64
 3   2010          198 non-null    float64
 4   2011          198 non-null    object
 5   2012          198 non-null    float64
 6   2013          198 non-null    float64
 7   2014          198 non-null    float64
 8   2015          198 non-null    float64
 9   2016          198 non-null    float64
 10  2017          198 non-null    float64
 11  2018          198 non-null    float64
 12  2019          198 non-null    float64
 13  2022          198 non-null    float64
 14  2023          198 non-null    float64
dtypes: float64(12), object(3)
memory usage: 23.3+ KB
None

Empty Fields:
Council         0
Satisfaction    0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2022            0
2023            0
dtype: int64

Errors:
Empty DataFrame
Columns: [Council, Satisfaction, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022, 2023]
Index: []

First few rows of the data:
         Council                        Satisfaction   2009   2010  2011  \
0  Aberdeen City               Very/fairly satisfied   42.9   39.5  43.5
1  Aberdeen City  Neither satisfied nor dissatisfied   11.0   13.0  14.1
2  Aberdeen City            Very/fairly dissatisfied   11.4   17.9  12.4
3  Aberdeen City                          No opinion   34.6   29.6  30.1
4  Aberdeen City                                 All  100.0  100.0   100

    2012   2013   2014   2015   2016   2017   2018   2019   2022   2023
0   44.8   50.9   53.9   46.6   51.9   53.8   52.3   34.2   35.6   26.9
1   11.7   16.5   18.4   13.5   12.4   20.2   14.0    8.0   10.9   18.9
2    6.7    6.3    6.2    5.6    6.4    3.1    5.8    6.4    6.2    3.0
3   36.8   26.3   21.5   34.4   29.3   22.9   27.9   51.4   47.3   51.2
4  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0

Summary Statistics:
               2009          2010         2012         2013         2014  \
count    198.000000    198.000000   198.000000   198.000000   198.000000
mean     229.998990    222.624242   133.333838   133.582828   132.321717
std     1398.555601   1345.507396   707.133844   709.408903   700.947533
min        0.900000      0.100000     0.900000     1.700000     0.600000
25%       11.575000      9.275000     7.875000     9.150000    10.050000
50%       38.500000     40.050000    41.350000    43.350000    42.750000
75%      100.000000    100.000000   100.000000   100.000000   100.000000
max    19470.000000  18730.000000  9890.000000  9920.000000  9800.000000

              2015         2016         2017         2018         2019  \
count   198.000000   198.000000   198.000000   198.000000   198.000000
mean    128.482828   130.858586   132.525253   131.514141   132.171717
std     672.278887   688.903126   701.083134   693.965147   699.559783
min       1.400000     1.000000     0.800000     0.500000     1.500000
25%      11.825000    11.150000    13.775000    13.575000    12.225000
50%      41.550000    41.850000    39.800000    40.900000    41.300000
75%     100.000000   100.000000   100.000000   100.000000   100.000000
max    9410.000000  9640.000000  9810.000000  9700.000000  9780.000000

              2022         2023
count   198.000000   198.000000
mean    130.705556   131.964646
std     690.516910   697.644365
min       0.200000     1.800000
25%      14.650000    16.725000
50%      38.600000    39.550000
75%     100.000000   100.000000
max    9640.000000  9750.000000

## use_of_facilities data summary

In [109]:
# Display the structure of the data
print("Data Structure:")
print(use_of_facilities_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(use_of_facilities_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(use_of_facilities_df[use_of_facilities_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(use_of_facilities_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(use_of_facilities_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Council    198 non-null    object
 1   Frequency  198 non-null    object
 2   2009       198 non-null    object
 3   2010       198 non-null    object
 4   2011       198 non-null    object
 5   2012       198 non-null    object
 6   2013       198 non-null    object
 7   2014       198 non-null    object
 8   2015       198 non-null    object
 9   2016       198 non-null    object
 10  2017       198 non-null    object
 11  2018       198 non-null    object
 12  2019       198 non-null    object
 13  2022       198 non-null    object
 14  2023       198 non-null    object
dtypes: object(15)
memory usage: 23.3+ KB
None

Empty Fields:
Council      0
Frequency    0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
2022         0
2023         0
dtype: int64

Errors:
Empty DataFrame
Columns: [Council, Frequency, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022, 2023]
Index: []

First few rows of the data:
         Council                   Frequency  2009  2010  2011  2012  2013  \
0  Aberdeen City  Have used in the past year  40.6  38.4  37.9  28.3  36.8
1  Aberdeen City   Not used in the past year  19.1    24  19.8  21.1  24.9
2  Aberdeen City                  Never used  39.9  37.6  41.8  50.6  37.9
3  Aberdeen City                  Don't know   0.3     -   0.5     -   0.4
4  Aberdeen City                         All   100   100   100   100   100

   2014  2015  2016  2017  2018  2019  2022  2023
0  41.9  42.9  36.4  36.5  36.5  22.2  26.3  19.9
1  24.7  13.8  18.5  21.6  17.1   9.3  17.2  23.3
2  32.3  42.6  45.1  41.3  45.6  66.9  55.4  54.1
3   1.1   0.6     -   0.6   0.8   1.7   1.2   2.7
4   100   100   100   100   100   100   100   100

Summary Statistics:
              Council                   Frequency 2009 2010 2011 2012 2013  \
count             198                         198  198  198  198  198  198
unique             33                           6  127  125  119  115  116
top     Aberdeen City  Have used in the past year  100  100  100  100  100
freq                6                          33   33   33   33   33   33

       2014 2015 2016 2017 2018 2019 2022 2023
count   198  198  198  198  198  198  198  198
unique  110  113  112  110  114  116  127  109
top     100  100  100  100  100  100  100  100
freq     33   33   33   33   33   33   33   33

## walking_distance data summary

In [110]:
# Display the structure of the data
print("Data Structure:")
print(walking_distance_df.info())

# Check for empty fields
print("\nEmpty Fields:")
print(walking_distance_df.isnull().sum())

# Check for errors (assuming errors are represented as NaN or invalid data types)
print("\nErrors:")
print(walking_distance_df[walking_distance_df.isnull().any(axis=1)])

# Display the first few rows of the data
print("\nFirst few rows of the data:")
print(walking_distance_df.head())

# Display summary statistics
print("\nSummary Statistics:")
print(walking_distance_df.describe())

Data Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Council           198 non-null    object
 1   Walking distance  198 non-null    object
 2   2013              198 non-null    object
 3   2014              198 non-null    object
 4   2015              198 non-null    object
 5   2016              198 non-null    object
 6   2017              198 non-null    object
 7   2018              198 non-null    object
 8   2019              198 non-null    object
 9   2022              198 non-null    object
 10  2023              198 non-null    object
dtypes: object(11)
memory usage: 17.1+ KB
None

Empty Fields:
Council             0
Walking distance    0
2013                0
2014                0
2015                0
2016                0
2017                0
2018                0
2019                0
2022                0
2023                0
dtype: int64

Errors:
Empty DataFrame
Columns: [Council, Walking distance, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022, 2023]
Index: []

First few rows of the data:
         Council        Walking distance  2013  2014  2015  2016  2017  2018  \
0  Aberdeen City            In 5 minutes  64.4  74.5  59.3  61.5  56.7  57.9
1  Aberdeen City         6 to 10 minutes  15.8  14.9    25  17.7  19.6  23.7
2  Aberdeen City  11 minute walk or more  19.1     9  15.2  19.6  20.7  16.8
3  Aberdeen City              Don't know   0.7   1.6   0.5   1.1   2.9   1.5
4  Aberdeen City                     All   100   100   100   100   100   100

   2019  2022  2023
0  52.1  50.8  59.4
1  20.6  22.3  25.5
2  25.8  25.8  12.6
3   1.5   1.1   2.5
4   100   100   100

Summary Statistics:
              Council Walking distance 2013 2014 2015 2016 2017 2018 2019  \
count             198              198  198  198  198  198  198  198  198
unique             33                6  127  124  122  123  122  127  129
top     Aberdeen City     In 5 minutes  100  100  100  100  100  100  100
freq                6               33   33   33   33   33   33   33   33

       2022 2023
count   198  198
unique  131  128
top     100  100
freq     33   33

## explore year coverage for each data

In [139]:
def find_missing_years(df, df_name="DataFrame"):
    # Convert to integers
    if df_name in ["life_expectancy_df", "health_indicators_df"]:
        years = df['Year']
    else:
        years = list(map(int, df.columns[2:]))

    # Find min and max
    min_year, max_year = min(years), max(years)

    # Find missing years
    missing_years = [year for year in range(min_year, max_year + 1) if year not in years]

    print(f"{df_name}: Min year: {min_year}, Max year: {max_year}")
    print(f"{df_name}: Missing years: {missing_years}\n")

# Call function with DataFrames
find_missing_years(life_expectancy_df, 'life_expectancy_df')
find_missing_years(health_indicators_df, 'health_indicators_df')

find_missing_years(freq_use_green_df, 'freq_use_green_df')
find_missing_years(statisfaction_distance_df, 'statisfaction_distance_df')

find_missing_years(statisfaction_distance_df, 'statisfaction_distance_df')
find_missing_years(use_of_facilities_df, 'use_of_facilities_df')
find_missing_years(walking_distance_df, 'walking_distance_df')

life_expectancy_df: Min year: 2003, Max year: 2023
life_expectancy_df: Missing years: []

health_indicators_df: Min year: 2003, Max year: 2023
health_indicators_df: Missing years: []

freq_use_green_df: Min year: 2013, Max year: 2023
freq_use_green_df: Missing years: [2018, 2020, 2021, 2022]

statisfaction_distance_df: Min year: 2013, Max year: 2023
statisfaction_distance_df: Missing years: [2018, 2020, 2021, 2022]

statisfaction_distance_df: Min year: 2013, Max year: 2023
statisfaction_distance_df: Missing years: [2018, 2020, 2021, 2022]

use_of_facilities_df: Min year: 2009, Max year: 2023
use_of_facilities_df: Missing years: [2020, 2021]

walking_distance_df: Min year: 2013, Max year: 2023
walking_distance_df: Missing years: [2020, 2021]